extends layouts/gameLayout

block gameHead
	meta(name='description', content='Practice your regex here')
	link(rel='stylesheet', type='text/css', href='stylesheets/practice.css')

block game
	.panel.panel-default
		#mine.panel-body
			p.status(style='display:inline-block')

	block gameScript
		script(src='js/practice.js')