extends gameLayout

block gameHead
	meta(name='description', content='Practice your regex here')
	link(rel='stylesheet', type='text/css', href='stylesheets/create.css')

block body
	#textContainer
		span#text
		textarea#textInput
	input#regexInput.form-control(type='text', placeholder='regex here')
	input#flagsInput.form-control(type='text', placeholder='mig')
	span.glyphicon.glyphicon-question-sign(data-toggle='modal', data-target='#helpModal')
	// Modal
	#helpModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4#myModalLabel.modal-title Help
				.modal-body
					a.btn.btn-primary(role='button', data-toggle='collapse', href='#explanation1') What is this?
					#explanation1.collapse
						.well
							| Use this for creating your own regex challenges.
					a.btn.btn-primary(role='button', data-toggle='collapse', href='#explanation2') How do I do create?
					#explanation2.collapse
						.well Type text in the input box and a regex in the bottom box.  Press f12 and type y() in the console to get a JSON formatted regex challenge
					a.btn.btn-primary(role='button', data-toggle='collapse', href='#explanation3') What are these flags?
					#explanation3.collapse
						.well
							| * m: multiline (anchors apply to each line)
							br
							|		 * i: case-insensitive
							br
							|		 * g: global
							br
							|		 * javascript does not have any other flags
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
	script(src='js/jquery.lettering-0.6.1.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
	script(src='js/create.js')
