.highlight{
	background-color: inherit;
	border-bottom: 2px solid black;
	visibility: visible;
}
.goodHighlight{
	background-color: rgb(187, 228, 187);
}

div.container {
	position: relative;
	display: inline-block;
	width: 50%;
	height:50px;
	margin-bottom: 5px;
}
div.container p {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
}
#text{
	visibility: hidden;
}
mark{
	font-size: 18px;
}
#mine{
	float:left;
	border-right:3px solid black;
	box-sizing: border-box;
	margin-right: 5px;
	width: 49%;
}