.highlight{
	background-color: inherit;
	border-bottom: 2px solid black;
	visibility: visible;
}
.goodHighlight{
	background-color: rgb(187, 228, 187);
}

div.container {
	position: relative;
	width:100px;
	height:50px;
}
div.container p {
	position: absolute;
	top: 0px;
	left: 0px;
}
p#text{
	visibility: hidden;
}
div.container>p{
	font-size: 18px;
}
mark{
	font-size: 18px;
}