extends layout

block body
	#superContainer
		.panel.panel-default
			block game
	input#regexInput.form-control(type='text', placeholder='regex here')
	input#flagsInput.form-control(type='text', placeholder='mig')
	block optionalHelp


	#winModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		.modal-dialog(role='document')
		.modal-content
			.modal-header
			button.close(type='button', data-dismiss='modal', aria-label='Close')
				span(aria-hidden='true') ×
			h4#myModalLabel.modal-title You Won!
			.modal-body
			p#score
			iframe(src='https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&width=58&height=20&appId', width='58', height='20', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
			a.twitter-share-button(href='https://twitter.com/share', data-show-count='false') Tweet
			script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
			.modal-footer
			button#playAgain.btn.btn-default(type='button', data-dismiss='modal') Play Again
	script(src='socketio/socket.io.min.js')
	script(src='js/jquery.lettering-0.6.1.min.js\
	')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
	block gameScript