extends gameLayout

block head
	meta(name='description', content='Practice regex against others')
	link(rel='stylesheet', type='text/css', href='stylesheets/practice.css')

block game
		#mine.panel-body
			p.status(style='display:inline-block') waiting for another player to connect...
	.panel.panel-default
		#opponent.panel-body
			p.status(style='display:inline-block') waiting for another player to connect...


block gameScript
	script(src='js/play.js')
	script(src='socketio/socket.io.min.js')