extends gameLayout

block head
	meta(name='description', content='Practice your regex here')
	link(rel='stylesheet', type='text/css', href='stylesheets/practice.css')

block game
	#mine.panel-body
		p.status(style='display:inline-block')

	block gameScript
		script(src='js/practice.js')
